* {
  padding: 0;
  margin: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-image: linear-gradient(to right bottom, #FF3366, #BA265D);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #777; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.logo {
  height: 3.25rem;
  margin-left: 3rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: inherit;
    padding: .7rem 2rem;
    border-radius: 10rem;
    width: 90%;
    transition: all .2s;
    margin-right: -3.5rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: #f0eeee; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc; }
  .search__input:focus + .search__button {
    background-color: #f0eeee; }
  .search__button {
    border: none;
    background-color: #f4f2f2; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(0.2rem); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #999; }

.user-nav {
  background-color: green; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #faf9f9;
  min-height: 50rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

.content {
  display: flex; }

.sidebar {
  background-color: #333;
  flex: 0 0 18%; }

.hotel-view {
  background-color: #fff;
  flex: 1; }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: #f4f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem; }
