.review {
  background-color: $white;
  box-shadow: $details-shadow;
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  @include respond($bp-medium) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  @include respond($bp-phone) {
    width: 100%;
  }

  &__text {
    margin-bottom: 2rem;
    z-index: 5;
    position: relative;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user-box {
    margin-right: auto;
  }

  &__user-name {
    color: $grey-dark-1;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem;
  }

  &__user-date {
    font-size: 1.2rem;
    color: $grey-dark-2
  }

  &__rating {
    color: $primary;
    font-size: 2.5rem;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    font-size: 20rem;
    color: $grey-light-3;
    line-height: 1;
    font-family: sans-serif;
    z-index: 1;
  }

}