.btn-inline {
  border: none;
  color: $primary;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: .2rem;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;

  & span {
    margin-left: .3rem;
    transition: margin-left .2s;
  }

  &:hover {
    color: $grey-dark-1;

    span {
      margin-left: .8rem;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}


// Call to action button
.btn {
  font-size: 1.5rem;
  border: none;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100rem;
  background-image: linear-gradient(to right bottom, $primary-light, $primary-dark);
  color: $white;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  & > * {
    height: 100%;
    width: 100%;
    display: inline-block;
    transition: all .2s;
  }
  
  &__visible {
    padding: 2rem 7.5rem;
    height: 100%;
    width: 100%;
  }

  &__invisible {
    display: inline-block;
    position: absolute;
    left: 0;
    top: -100%;
    padding: 2rem 0;
  }

  &:hover {
    background-image: linear-gradient(to left bottom, $primary-light, $primary-dark);
  }
  
  &:hover &__visible {
    transform: translateY(100%);
  }
  
  &:hover &__invisible {
    top: 0;
  }

    &:focus {
      outline: none;
      animation: pulsate 1s infinite;
    }

}