.side-nav {
  


  &__item {

  }

  &__link {

  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
  }

}

.legal {
  font-size: 1.2rem;
  color: $grey-light-4;
  text-align: center;
  padding: 2.5rem 1rem;

  &__copyright {
    text-decoration: none;
    color: $grey-light-1;
  }

}